body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #eeeeee;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.banner {
    background: url(../../img/banner.jpg) no-repeat 0, 0, rgb(0, 95, 184);
    background-blend-mode: multiply;
    padding: 70px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 500px;
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    div {
        text-align: center;
        color: white;
        margin: auto;
        align-self: center;
    }
}

.banner2 {
    background-color: rgb(51, 50, 50);
    padding: 30px 10px;

    .row {
        ul {
            list-style-type: none;
            li {
                line-height: 1;
                div {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px 0px;
                    .icon-container {
                        flex: 0 0 33%;
                        display: flex;
                        margin: 0px;
                        padding: 0px;
                        img {
                            margin: 0px auto auto auto;
                            max-width: 80px;
                        }
                    }
                    .text-container {
                        flex: 0 0 67%;
                        display: flex;
                        padding: 0px;
                        max-width: calc(100% - 100px);
                        color: white;
                      
                        p {
                            font-size: 0.9rem;
                            color: rgba(255, 255, 255, 0.75);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .banner2 {
        padding: 70px 30px;
        .row {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    flex: 0 0 33%;
                    padding: 0 15px;
                    position: relative;
                    &:nth-child(2){
                        div{
                            position: relative;
                            .icon-container{
                                position: absolute;
                                left: 0px;
                            }.text-container{
                                position: absolute;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
