@mixin Button($color) {
    border: solid 2px $color;
    border-radius: 30px;
    color: $color;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 33px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.cont {
    padding-top: 100px;
    padding-bottom: 50px;
}

.carousel {
    .carousel-indicators {
        .sliderBtn {
            width: 10px !important;
            height: 10px !important;
            border: solid 0px white !important;
            border-radius: 5px !important;
            margin: auto 5px;
            &.active {
                width: 8px !important;
                height: 8px !important;
                background-color: rgba(255, 255, 255, 0) !important;
                border: solid 3px white !important;
                border-radius: 12px !important;
            }
        }
    }
    .carousel-inner {
        &.main-carousel-inner {
            height: 500px;
            .carousel-item {
                height: 100%;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: auto;
                    max-width: 100%;
                    border-radius: 8px;
                }
                div {
                    width: 100%;
                    text-align: center;
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    padding: 10px 10px 55px 10px;
                    align-items: center;
                    color: white;
                    background-image: linear-gradient(rgba(0, 0, 0, 0)rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)rgba(0, 0, 0, 0.9));
                    button {
                        @include Button(#fff);
                    }
                }
            }
        }
    }
}

.col-12 {
    padding: 5px;
}
.col-lg-4 {
    div {
        color: white;

        text-align: center;
        &.img {
            background-color: rgb(122, 182, 31);
            padding: 10px;
            border: solid 3px rgb(68, 102, 17);
            border-radius: 8px;
            height: 60%;
            p {
                &.percentage {
                    margin-top: 10%;
                    font-size: 55px;
                }
            }
        }
        &.followFB {
            height: 40%;
            padding: 20px 20px 20px 0px;
            color: black;
            button {
                @include Button(#0e1f56);
                color: #0e1f56;
            }
        }
    }
}
#nav {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 991px) {
    .col-lg-4 {
        display: none;
    }
}
