body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: rgb(226, 226, 226);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dropdown-menu {
    width: 100vw;
    position: absolute;
    left: 0px;
    

}

