.navigationBadge {
  font-size: 11px !important;
  color: greenyellow !important;
  border: solid 2px greenyellow;
  background-color: #343a40;
  font-weight: bolder;
  padding: 2px 5px !important;
  top: -8px;
  left: 21px;
  border-radius: 10px !important;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

.headerCont {
  padding-top: 10px;
  background-color: white !important;
  max-width: 1280px;
  margin: auto;
}

.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 991px) {
  .headerCont .mobile-logo {
    z-index: 1000 !important;
    margin-left: calc(50% - 42.5px) !important;
  }
  .headerCont .mobile-logo a {
    margin: auto;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-bottom: 15px;
    z-index: 1000 !important;
    height: 40px !important;
    width: 55px;
    background-image: url("../../img/Ekran Resmi 2022-01-19 16.19.30.png");
  }
  .header {
    background-color: white;
  }
  .header .item-center {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
  .header .item-left {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important;
  }
  .header .item-left a {
    display: none !important;
  }
  .header .item-right {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #343a40;
    z-index: 10000;
    padding: 10px 20px;
    text-align: center;
  }
  .header .item-right a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: white !important;
    text-decoration: none;
    font-size: xx-large;
    margin: 0px 15px;
  }
  .v-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-left: 0px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1001 !important;
  }
  .header .mobile-menu-trigger span {
    z-index: 1000 !important;
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before, .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }
  .header .mobile-menu-close {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-left: 0px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1001 !important;
    display: none;
    font-size: 40px;
    padding: 0px;
  }
  .header .mobile-menu-close span {
    z-index: 1000 !important;
  }
  .header h4.title {
    margin-top: 15px;
    color: white;
  }
  .header .menu {
    position: absolute;
    max-width: 500px;
    width: 100%;
    min-width: 320px;
    background-color: #23282c;
    left: 0;
    top: 65px;
    height: calc(100vh -65px);
    overflow: hidden;
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 10 !important;
  }
  .header .menu.active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .header .menu ul li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu ul li a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    color: white;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header .menu ul li a i {
    height: 50px;
    width: 50px;
    float: right;
    margin-left: auto;
    text-align: center;
    line-height: 50px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header .menu ul li a i.active {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header .menu ul li:last-child {
    margin-bottom: 100px;
  }
  .header .menu ul li.custom-select select,
  .header .menu ul li.custom-select select:hover,
  .header .menu ul li.custom-select select:focus {
    border: none;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .header .menu ul li.custom-select select.custSelect {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    color: white;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 300;
    font-size: 18px;
    width: 100%;
  }
  .header .menu .menu-main {
    height: calc(100vh - 65px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 30px;
  }
  .header .menu ul {
    padding: 0px !important;
  }
  .header .menu ul a {
    text-decoration: none;
  }
  .header .menu ul li .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 15px;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu ul li .sub-menu.mega-menu {
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    display: none;
  }
  .header .menu ul li .sub-menu.mega-menu img {
    max-width: 100%;
  }
  .header .menu ul li .sub-menu.active {
    display: block;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item img {
    margin-top: 0;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item.text-center .title {
    margin-bottom: 20px;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item.text-center:last-child .title {
    margin-bottom: 0px;
    border: solid 1px white !important;
  }
  .header .menu ul li .sub-menu > ul > li > a {
    display: block;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul {
    border: solid 1px rgba(255, 255, 255, 0);
    max-height: 400px;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul li {
    display: block;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul li a {
    display: block;
  }
}

@media (min-width: 992px) {
  .navigationBadge {
    font-size: 10px !important;
    color: #57880e !important;
    border: solid 2px #57880e;
    padding: 0px 3px !important;
    font-weight: bolder;
    top: -3px;
    background-color: white;
    left: 12px;
  }
  /* header */
  .logo a {
    margin: auto;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-bottom: 15px;
    height: 40px !important;
    width: 100px !important;
    background-image: url("../../img/Ekran Resmi 2022-01-19 16.19.29.png");
  }
  .header {
    background-color: white;
    display: block;
    width: 100%;
    max-width: 100%;
    z-index: 502;
  }
  .header .item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
  }
  .header .item-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 73%;
            flex: 0 0 73%;
    margin: 0px;
    padding-right: 10px;
  }
  .header .item-center .mobile-logo {
    display: none;
  }
  .header .item-right {
    padding-top: 5px;
    margin: 0px;
    margin-bottom: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0px;
  }
  .header .item-right a {
    text-decoration: none;
    font-size: 20px;
    color: #747474;
    display: inline-block;
    margin: auto;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .header .item-right a:hover {
    color: #3f3f3f;
  }
  .header .menu ul {
    float: right;
  }
  .header .menu ul li {
    padding-bottom: 15px;
    display: inline-block;
    line-height: 30px;
    border-bottom: 3px solid transparent;
  }
  .header .menu ul li.custom-select select,
  .header .menu ul li.custom-select select:hover,
  .header .menu ul li.custom-select select:focus {
    -webkit-box-shadow: 0 0 0 white;
            box-shadow: 0 0 0 white;
    border: none;
    text-decoration: none;
    outline: none;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .header .menu ul li.custom-select select.custSelect {
    background-color: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #6d6d6d;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
  }
  .header .menu ul li.menu-item-has-children:hover {
    background-color: #23282c;
    border-bottom: 3px solid greenyellow;
  }
  .header .menu ul li.menu-item-has-children:hover a {
    color: white;
  }
  .header .menu ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: color 0s ease;
    transition: color 0s ease;
    text-decoration: none;
  }
  .header .menu ul li .sub-menu {
    position: absolute;
    z-index: 500;
    -webkit-box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
            box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 40px;
    opacity: 0;
    visibility: hidden;
  }
  .header .menu ul li .sub-menu ul {
    float: unset;
  }
  .header .menu ul li .sub-menu ul li {
    line-height: 1;
    background-color: unset;
  }
  .header .menu ul li .sub-menu ul li a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    -webkit-transition: color 0s ease;
    transition: color 0s ease;
    text-decoration: none;
    text-transform: capitalize;
  }
  .header .menu ul li .sub-menu.mega-menu {
    cursor: default;
    background-color: #23282c;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul {
    padding: 0px;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul li {
    width: 100%;
    line-height: 1;
    display: block;
    background-color: unset;
    cursor: default;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul li a {
    padding: 3px 0px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    -webkit-transition: color 0s ease;
    transition: color 0s ease;
  }
  .header .menu ul li .sub-menu.mega-menu .list-item ul li a:hover {
    color: greenyellow;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 {
    max-width: 100vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item {
    max-width: 256px;
    /* mega-menu size */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 0 15px;
    margin-top: auto;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item .title {
    color: white;
    font-weight: 300;
    line-height: 1;
    padding: 10px 0;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item.text-center .title {
    text-align: center;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-top: 10px;
  }
  .header .menu ul li .sub-menu.mega-menu-column-4 .list-item ul li {
    padding-top: 2px;
    padding-bottom: 3px;
  }
  .header .menu ul li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
  }
  .header .menu ul li:hover {
    cursor: pointer;
  }
  .header .menu ul li:hover.custom-select {
    background-color: unset;
    border-bottom: none;
  }
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 18px;
    visibility: visible;
    opacity: 1;
  }
  .mobile-menu-head,
  .mobile-menu-trigger,
  .mobile-menu-close {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */