$green-color: #198754;
@mixin btnStyle {
    padding: 5px 45px;
    border-radius: 25px;
    background-color: $green-color;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000000 !important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        position: relative;
        .close {
            position: absolute;
            padding: 0px 14px;
            width: 47px;
            height: 47px;
            border-radius: 30px;
            top: 0px;
            right: 5px;
            display: inline-block;
            color: #bbb;
            font-size: 30px;
            font-weight: bold;
            &:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .loginForm {
            h2 {
                text-align: center;
                margin: 30px 0px;
            }
            .form-control {
                border-width: 2px;
                border-radius: 25px;
                text-decoration: none;
                box-shadow: none;
                &:focus {
                    border-color: $green-color;
                }
            }
            .formSubmit {
                text-align: center;
                button {
                    @include btnStyle();
                    display: block;
                    margin: auto;
                }
                a {
                    display: block;
                    margin-top: 20px;
                    color: $green-color;
                }
            }
            .forgotPassword {
                float: right;
                color: $green-color;
            }

            .passwordBox {
                position: relative;
                .eyeBtn {
                    position: absolute;
                    bottom: 8px;
                    right: 10px;
                    font-size: 24px;
                    color: #888;
                    cursor: pointer;
                }
            }
        }
        &.cookies {
            width: auto;
            position: fixed;
            bottom: 60px;
            left: 20px;
            right: 20px;
            a {
                color: $green-color;
            }
            h4 {
                color: $green-color;
            }
            div {
                div {
                    &:last-child {
                        &.col-lg-4 {
                            display: flex;

                            button {
                                @include btnStyle();
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    &#ProductImgModal {
        padding: 10px;
        .modal-content {
            margin: auto;
            max-width: 600px;
            padding: 0px;
            margin-top: 10vh;
    
            .imageBox {
                display: inline-block;
                width: 100%;
                height: auto;
              
               
                img {     
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 max-width: 600px !important;
                 max-height: 600px !important;
                 
                }
            }
            .close {
                color: $green-color;
                top: -18px !important;
                font-size: 50px;
                font-weight: bold;
                &:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .modal-content {
        max-width: 450px;
        &.cookies {
            max-width: 1280px;
            width: 100%;
            button {
                margin: auto 0px 0px auto !important;
            }
        }
    }

    #ProductImgModal {
     
        .modal-content {
            max-width: 600px;
           
    
            .imageBox {
                display: inline-block;
                width: auto;
                height: 80vh;
                
                img {
                   
                 height: 100%;
                 width: auto;
                }
            }
        }
    }
}
