.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000000 !important;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  position: relative;
}

.modal .modal-content .close {
  position: absolute;
  padding: 0px 14px;
  width: 47px;
  height: 47px;
  border-radius: 30px;
  top: 0px;
  right: 5px;
  display: inline-block;
  color: #bbb;
  font-size: 30px;
  font-weight: bold;
}

.modal .modal-content .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content .loginForm h2 {
  text-align: center;
  margin: 30px 0px;
}

.modal .modal-content .loginForm .form-control {
  border-width: 2px;
  border-radius: 25px;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-content .loginForm .form-control:focus {
  border-color: #198754;
}

.modal .modal-content .loginForm .formSubmit {
  text-align: center;
}

.modal .modal-content .loginForm .formSubmit button {
  padding: 5px 45px;
  border-radius: 25px;
  background-color: #198754;
  display: block;
  margin: auto;
}

.modal .modal-content .loginForm .formSubmit a {
  display: block;
  margin-top: 20px;
  color: #198754;
}

.modal .modal-content .loginForm .forgotPassword {
  float: right;
  color: #198754;
}

.modal .modal-content .loginForm .passwordBox {
  position: relative;
}

.modal .modal-content .loginForm .passwordBox .eyeBtn {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.modal .modal-content.cookies {
  width: auto;
  position: fixed;
  bottom: 60px;
  left: 20px;
  right: 20px;
}

.modal .modal-content.cookies a {
  color: #198754;
}

.modal .modal-content.cookies h4 {
  color: #198754;
}

.modal .modal-content.cookies div div:last-child.col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-content.cookies div div:last-child.col-lg-4 button {
  padding: 5px 45px;
  border-radius: 25px;
  background-color: #198754;
  margin: auto;
}

.modal#ProductImgModal {
  padding: 10px;
}

.modal#ProductImgModal .modal-content {
  margin: auto;
  max-width: 600px;
  padding: 0px;
  margin-top: 10vh;
}

.modal#ProductImgModal .modal-content .imageBox {
  display: inline-block;
  width: 100%;
  height: auto;
}

.modal#ProductImgModal .modal-content .imageBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 600px !important;
  max-height: 600px !important;
}

.modal#ProductImgModal .modal-content .close {
  color: #198754;
  top: -18px !important;
  font-size: 50px;
  font-weight: bold;
}

.modal#ProductImgModal .modal-content .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .modal-content {
    max-width: 450px;
  }
  .modal-content.cookies {
    max-width: 1280px;
    width: 100%;
  }
  .modal-content.cookies button {
    margin: auto 0px 0px auto !important;
  }
  #ProductImgModal .modal-content {
    max-width: 600px;
  }
  #ProductImgModal .modal-content .imageBox {
    display: inline-block;
    width: auto;
    height: 80vh;
  }
  #ProductImgModal .modal-content .imageBox img {
    height: 100%;
    width: auto;
  }
}
/*# sourceMappingURL=login.css.map */