$btn-color: rgb(196, 196, 196);
$social-media-color: rgb(143, 143, 143);
@mixin custom-button {
    margin: 0;

    background-color: transparent;
    border: solid 2px $btn-color;
}

.product {
    background-color: bisque;
    padding: 120px 0px 30px 0px;
    .bread-cramp {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    .productBox {
        border-radius: 5px;
        margin: auto;
        width: 100%;
        background-color: white;
        padding: 5px;
        .product-left {
            text-align: center;
            padding: 2px;
            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
            }
        }
        .product-center {
            text-align: center;
            div {
                display: inline-block;
                padding: 2px;
                margin: 1px;
            }
        }
        .product-right {
            em {
                font-size: 3rem;
            }
            .color{
                button{
                    @include custom-button();
                    box-shadow: none;
                    border-radius: 30px;
                }
              
            }
            .number-of {
                display: inline-block;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    overflow: hidden;
                    display: flex;
                    li {
                        margin: 0;
                        padding: 0;
                        p {
                            border-top: solid 2px $btn-color;
                            border-bottom: solid 2px $btn-color;
                            margin: 0;
                            padding: 7px 5px;
                            text-align: center;
                            cursor: default;
                        }
                        button {
                            font-size: 12px;
                            padding: 10px 20px;
                            @include custom-button();
                            &.left {
                                padding-right: 15px;
                                border-right: none;
                                border-radius: 30px 0px 0px 30px;
                                &:hover {
                                    background-image: linear-gradient(
                                        to right,
                                        hsl(0, 0%, 60%),
                                        hsl(0, 0%, 85%),
                                        hsl(0, 0%, 100%)
                                    );
                                }
                            }
                            &.right {
                                padding-left: 15px;
                                border-left: none;
                                border-radius: 0px 30px 30px 0px;
                                &:hover {
                                    background-image: linear-gradient(
                                        to right,
                                        hsl(0, 0%, 100%),
                                        hsl(0, 0%, 85%),
                                        hsl(0, 0%, 60%)
                                    );
                                }
                            }
                            &:hover {
                                border-color: rgb(177, 177, 177);
                            }

                            /*  padding: 0px 12px;*/
                        }
                    }
                }
            }
            .add-to-cart {
                display: inline;
                button {
                    @include custom-button();
                    border-radius: 30px;
                    padding: 7px 20px;
                    background-color: rgb(135, 202, 34);
                    color: white;
                    &:hover {
                        background-color: rgb(134, 194, 43);
                    }
                    /*
                    &:focus{
                        background-color: rgb(105, 168, 9);
                        box-shadow: 1px 1px 10px rgb(105, 168, 9);
                    }*/
                }
            }
            .product-about {
                margin: 10px 0px;
            }
            .social-media {
                padding: 20px 0px;
                span {
                    color: $social-media-color;
                    margin-right: 10%;
                }
                a {
                    margin: 0px 5px;
                    padding: 3px 5px;
                    text-decoration: none;
                    color: $social-media-color;
                }
            }
        }
        .productInfo {
            margin-top: 25px;
            padding: 0px;
            ul {
                display: flex;
                align-items: center;
                li {
                    align-self: center;
                    margin: auto;
                    button {
                        margin-bottom: -10px;
                        padding: 15px;
                        color: $social-media-color;
                        background-color: transparent;
                        border-radius: 10px 10px 0px 0px;
                        border: none;
                        &.productInfoBtnActive {
                            color: white;
                            background-color: rgb(14, 14, 19);
                            box-shadow: 2px 2px 10px black;
                        }
                    }
                }
            }
            .productInfo-dropdown {
                margin: -5px;
                color: white;
                background-color: rgb(14, 14, 19);
                div {
                    display: none;
                    padding: 20px;
                    width: 100%;
                    &.productInfoBtnActive {
                        display: unset;
                    }
                    ul {  
                        display: unset;
                        padding: 0px 10px;
                        li {
                            padding: 0px 20px;
                            p {
                                padding: 0px 0px;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.imgBox {
    &:hover {
        .item-overlay {
            display: unset;
        }
    }
}
.img-overlay {
    background-color: rgba(0, 0, 0, 0.911);
    transition: (all, 0.15s);
    position: fixed;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100000 !important;
    padding: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
        display: flex;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .product {
        .productBox {
            .productInfo {
                margin-top: 25px;
                padding: 0px;
                ul {
                    display: flex;
                    align-items: center;
                    padding: 0px 10%;
                    li {
                        align-self: center;
                        margin: auto;
                        button {
                            padding: 15px 30px;
                            color: $social-media-color;
                            background-color: transparent;
                            border-radius: 10px 10px 0px 0px;
                            border: none;
                            &.productInfoBtnActive {
                                color: white;
                                background-color: rgb(14, 14, 19);
                            }
                        }
                    }
                }
                .productInfo-dropdown {
                    margin: -5px;
                    color: white;
                    background-color: rgb(14, 14, 19);
                    div {
                        display: none;
                        padding: 20px;
                        width: 100%;
                        &.productInfoBtnActive {
                            display: unset;
                        }
                        ul {
                            padding: 0px 10px;
                            li {
                                padding: 0px 20px;
                                p {
                                    padding: 0px 0px;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
