@mixin Button($color) {
    border: solid 2px $color;
    border-radius: 30px;
    color: $color;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 33px;
}

.carousel {
    .carousel-indicators {
        &.positon-indicators {
            margin-top: 20px;
            position: unset !important;
            .sliderBtn {
                width: 10px !important;
                height: 10px !important;
                border: solid 0px white !important;
                border-radius: 5px !important;
                margin: auto 5px;
                &.active {
                    width: 8px !important;
                    height: 8px !important;
                    background-color: rgba(255, 255, 255, 0) !important;
                    border: solid 3px white !important;
                    border-radius: 12px !important;
                }
            }
        }
    }

    .carousel-inner {
        border-radius: 3px;
        margin: auto;
    }
}
#popularItems {
    background-color: #23282c;
    padding: 20px 0px;
    .title {
        text-align: center;
        h3 {
            color: white;
            padding: 5px 30px;
            display: inline-block;
            text-align: center;
            margin: 0px;
        }
        hr {
            display: inline-block;
            width: calc(50% - 140px);
            color: white;
            margin-bottom: 10px;
        }
    }
}
.load {
    @include Button(#fff);
    width: 300px;
    padding: 5px 30px;
    margin: auto;
}
.cardBox {
    .card {
        .card-body {
            .btn-group {
                position: absolute;
                left: 0px;
                width: 80%;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 30px;
                margin-left: 10% !important;
                .btn {
                    padding: 3px;
                    &.btn-left {
                        color: rgba(35, 155, 55, 0.8);
                        border-radius: 30px 0px 0px 30px;
                        border-right: 1px solid rgb(218, 218, 218);
                    }
                    &.btn-right {
                        border-radius: 0px 30px 30px 0px;
                        color: black;
                        border-left: 1px solid rgb(218, 218, 218);
                    }
                    &:hover {
                        color: white;
                        background-color: rgba(35, 155, 55, 0.9);
                        border: solid rgb(35, 155, 55) 2px;
                    }
                }
            }
        }
        &:hover {
            .item-overlay {
                display: block;
                background-color: rgba(35, 155, 55, 0.644);
                transition: (all 0.15s);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
        &.type-overlay {
            .card-img-top {
                flex: 0 0 100%;
                object-fit: cover;
                min-height: 100%;
                border-radius: 3px;
            }
            .item-fixed-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background: url(../../img/shop1.jpg) no-repeat 0, 0,
                    linear-gradient(palevioletred, palevioletred, indigo);
                background-blend-mode: multiply;
                background-size: cover;
                div {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    padding: 0px 0px 30px 30px;
                    display: inline-block;
                    text-align: start;
                    p {
                        color: #fff;
                        display: block;
                    }
                    span {
                        position: relative;
                        display: inline-block;
                        .fa-comment {
                            color: greenyellow;
                            position: absolute;
                            top: 0px;
                            left: 12px;
                        }
                        .fa-user {
                            font-size: 1.2rem;
                            position: absolute;
                            top: 13px;
                            left: 0px;
                            color: greenyellow;
                        }
                        .text {
                            color: white;
                            position: absolute;
                            top: 16px;
                            left: 30px;
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
    .item-overlay {
        border: solid 1px rgba(35, 155, 55, 0);
        border-radius: 3px;
        display: none;
        transition: (all, 0.15s);
        text-align: center;
        .fas {
            font-size: 30px;
            width: 72px;
            height: 72px;
            padding: 20px;
            border: solid 1px white;
            border-radius: 36px;
            background-color: white;
            text-align: center;
            &.fa-plus {
                color: rgba(35, 155, 55, 0.644);
                &:hover {
                    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
                }
            }
            &.fa-heart {
                color: palevioletred;
                &:hover {
                    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
#popularItemsMobile {
    .cardBox {
        .card {
            border: none;
            display: flex;
            background-color: transparent;
            height: 460px !important;
            max-width: 500px;
            margin: auto;
            .card-img-top {
                flex: 0 0 75% !important;
                object-fit: cover;
                max-height: 350px;
                min-height: 350px;
            }
            .card-body {
                flex: 0 0 25% !important;
                text-align: center;
                position: relative;
                padding: 5px 10px;
                background-color: white;
                .btn-group {
                    bottom: 15px;
                }
            }
        }
        .item-overlay {
            .fas {
                margin-top: 40%;
            }
        }
    }
}
#popularItemsWeb {
    display: none;
    .cardBox {
        .card {
            border: none;
            height: 100%;
            display: flex;
            .card-img-top {
                flex: 0 0 65%;
                object-fit: cover;
                min-height: 65%;
            }
            .card-body {
                flex: 0 0 35%;
                text-align: center;
                position: relative;
                height: 100%;
                .btn-group {
                    bottom: 5px;
                }
            }
        }
        .item-overlay {
            .fas {
                margin-top: 60%;
            }
        }
    }
}

@media (min-width: 992px) {
    #popularItemsMobile {
        display: none;
    }
    #popularItemsWeb {
        display: unset;
    }
}
